@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Righteous;
}


.login-form div{
        position: relative;
        width: 100%;
        display: flex;
}

.login-form div .icon{
    position: absolute;
    left: 0;
    margin-top: 7.5%;
    margin-left: 13%;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.login-form div .eye{
    position: absolute;
    right: 0;
    margin-top: 7.5%;
    margin-right: 13%;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    cursor: pointer;
}


.box {
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;

  	height: 100vh;
}
.login-form {
    display: flex;
    flex-direction: column;
      min-width: 200px;
      width: 600px;
    max-width: 600px;
    min-height: 500px;
	padding: 15px;
	background-color: white;
}
.login-form h1 {
	text-align: center;
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Righteous;
}

.login-form #a2,
.login-form #a1{
    text-align: right;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.500);
}

.login-form #a2:hover,
.login-form #a1:hover{
    color: black;
}

.login-form #a2{
    text-align: center;
    margin-top: 7%;
}

.login-form input[type = "text"] {
    width: 90%;
	margin-top: 10%;
}

.login-form input[type = "password"] {
	margin-top: 10%;
}

input {
  outline: none;
 }

.login-form input[type = "submit"] {
	background-color: white;
    width: 35%;
    margin: auto;
    color: black;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 35px;
    cursor: pointer;
    padding: 5px;
    font-family: Righteous;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.login-form input[type = "submit"]:hover {
    opacity: 0.8;
    background-color: rgba(165, 165, 165, 0.295);
}

.login-form input[type = "text"]:focus, .login-form input[type = "password"]:focus {
 	border: 1px rgb(0, 174, 255) solid;
 }

.login-form input[type = "text"], .login-form input[type = "password"] {
    width: 80%;
   
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    font-family: righteous;
    padding: 20px;
    padding-left: 15%;
} 


.inscription-form{
    display: flex;
    flex-direction: column;
      min-width: 200px;
      width: 800px;
    min-height: 500px;
	padding: 15px;
    margin: auto;
    
}

.inscription-form h1{
    width: 100%;
    text-align: center;
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Righteous;
}

.inscription-form div{
    width: 50%;
    text-align: center;
    position: relative;
}

.inscription-form .champ{
    width: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.inscription-form input[type = "text"], .inscription-form input[type = "password"], .inscription-form input[type = "email"], .inscription-form input[type = "date"] {
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    font-family: righteous;
    padding: 20px;
    padding-left: 15%;
} 

.inscription-form input[type = "submit"] {
	background-color: white;
    width: 35%;
    margin: auto;
    color: black;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 35px;
    cursor: pointer;
    padding: 5px;
    font-family: Righteous;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.inscription-form input[type = "submit"]:hover {
    opacity: 0.8;
    background-color: rgba(165, 165, 165, 0.295);
}

.inscription-form #a2{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.500);
}

.inscription-form #a2:hover{
    color: black;
}
.inscription-form div .icon{
    position: absolute;
    left: 0;
    margin-top: 10%;
    margin-left: 8%;
    width: 7%;
    opacity: 0.5;
}
